# APP
BASE_URL=
PORT=

#AUTH
APP_SECRET=

# DATABASE
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# MONGO
MONGO_URL=

# REDIS

REDIS_HOST=
REDIS_POST=

# MAIL

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

SENTRY_DSN=
